<h1 class="text-3xl">NEWS PORTAL</h1>
<hr />
<br />

<div
  class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-2 xs:grid-cols-1 place-items-center"
>
  <mat-card class="example-card m-3">
    <mat-card-header>
      <div mat-card-avatar>
        <img
          src="https://lirp.cdn-website.com/eda4ad32/dms3rep/multi/opt/41717CF9-288E-4F9C-BF86-9E35DA494F87-640w.jpg"
          style="border-radius: 50%"
        />
      </div>
      <mat-card-title>Book</mat-card-title>
      <mat-card-subtitle>Book in mountains</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8fA%3D%3D"
      alt="Book"
      style="height: 40rch"
    />
    <br />
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sunt
        molestiae maxime officia, sint minus nesciunt ea ex dolorum, ipsa neque
        ut optio ad. Sunt voluptates ullam id deleniti molestias?
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>LIKE</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-raised-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card m-3">
    <mat-card-header>
      <div mat-card-avatar>
        <img
          src="https://lirp.cdn-website.com/eda4ad32/dms3rep/multi/opt/41717CF9-288E-4F9C-BF86-9E35DA494F87-640w.jpg"
          style="border-radius: 50%"
        />
      </div>
      <mat-card-title>Book</mat-card-title>
      <mat-card-subtitle>Book in mountains</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8fA%3D%3D"
      alt="Book"
      style="height: 40rch"
    />
    <br />
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sunt
        molestiae maxime officia, sint minus nesciunt ea ex dolorum, ipsa neque
        ut optio ad. Sunt voluptates ullam id deleniti molestias?
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>LIKE</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-raised-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card m-3">
    <mat-card-header>
      <div mat-card-avatar>
        <img
          src="https://lirp.cdn-website.com/eda4ad32/dms3rep/multi/opt/41717CF9-288E-4F9C-BF86-9E35DA494F87-640w.jpg"
          style="border-radius: 50%"
        />
      </div>
      <mat-card-title>Book</mat-card-title>
      <mat-card-subtitle>Book in mountains</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8fA%3D%3D"
      alt="Book"
      style="height: 40rch"
    />
    <br />
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sunt
        molestiae maxime officia, sint minus nesciunt ea ex dolorum, ipsa neque
        ut optio ad. Sunt voluptates ullam id deleniti molestias?
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>LIKE</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-raised-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card m-3">
    <mat-card-header>
      <div mat-card-avatar>
        <img
          src="https://lirp.cdn-website.com/eda4ad32/dms3rep/multi/opt/41717CF9-288E-4F9C-BF86-9E35DA494F87-640w.jpg"
          style="border-radius: 50%"
        />
      </div>
      <mat-card-title>Book</mat-card-title>
      <mat-card-subtitle>Book in mountains</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8fA%3D%3D"
      alt="Book"
      style="height: 40rch"
    />
    <br />
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sunt
        molestiae maxime officia, sint minus nesciunt ea ex dolorum, ipsa neque
        ut optio ad. Sunt voluptates ullam id deleniti molestias?
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>LIKE</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-raised-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
